<!doctype html>
{% load static %}
<html>
<head>
{% block title %}Delete{% endblock title %}
	<meta charset="utf-8">

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}">
	<link rel="stylesheet" href="{% static 'css/light-box.css' %}">
	<link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
	<script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/templatemo_style.css' %}" rel="stylesheet" type="text/css">

</head>

<body>

	<div id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner" style="background-image: url({% static 'img/videoplayback.mp4' %});">
              <div class="templatemo-bg-image-2">
	<div class="container">
		<div class="col-md-12">
			<form class="form-horizontal templatemo-contact-form-1" role="form" action="#" method="post">
				<div class="form-group">
					<div class="col-md-12">
						<h1 class="margin-bottom-15">Delete</h1>
					</div>
				</div>
	            {% if request.user.is_superuser or request.user.is_staff %}
                <h1>Do you want delete this movie?</h1>
                <form method="post">
                    {% csrf_token %}
                <div class="form-group">
		        <div class="col-md-12">
                <button type="submit"class="btn btn-success pull-right" >Yes</button>
                <button><a href="{% url 'movie-detail' object.id %}" role="button" class="btn btn-success pull-right">Cancel</a></button>
		          </div>
		        </div>
                    </form>
                {% endif %}
		      </form>
		</div>
	</div>
            </div>
        </div>
        <video autoplay="" loop="" muted>
        	<source src="{% static 'img/videoplayback.mp4' %}" type="video/mp4" />
        </video>
    </div>


	<div id="content">
    </div>
    <nav>
        <div class="logo">
            <a href="{% url 'index' %}">ScreenzZ</a>
        </div>
        <div class="menu-icon">
        <span></span>
      </div>

	</nav>
  <div class="popup-icon">
      <button id="modBtn" class="modal-btn"><img src="{% static 'img/s.png' %}" alt=""></button>
    </div>

<!-- Modal -->
    <div id="modal" class="modal">
      <!-- Modal Content -->
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="header-title">Your<em>Profile</em></h3>
          <div class="close-btn"><img src="{% static 'img/close_contact.png' %}" alt=""></div>
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
          <div class="col-md-6 col-md-offset-3">
              {% if user.image %}
            <img src="{{ user.image.url }}">
              {% endif %}
            <form id="contact" action="" method="post">
                <div class="row">
                    <div class="col-md-12">
                      <fieldset>
                            <h5>First name: {{user.first_name}}</h5>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                            <h5>Last name: {{user.last_name}}</h5>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                             Email: {{user.email}}
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                            <h5>Created: {{user.created}}</h5>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                            {% for x in favorites %}
                            {{ x.movie }}
                            {% endfor %}
                      </fieldset>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <section class="overlay-menu">
      <div class="container">
        <div class="row">
          <div class="main-menu">
              <div class="container">
              <ul>
                   <li>
                      <section id="search" class="alt">
                          <form method="get" action="{% url 'index' %}">
                            <input type="text" name="q" id="query" placeholder="Search...">
                          </form>
                      </section>
                  </li>
                  <li>
                      <a href="{% url 'index' %}">Home</a>
                  </li>
                  <li>
                      <a href="{% url 'create-genre' %}">Create genre</a>
                  </li>
                  <li>
                      <a href="{% url 'create-movie' %}">Create movie</a>
                  </li>
                  <li>
                      <a href="{% url 'login' %}">Log In</a>
                  </li>
                  <li>
                      <a href="{% url 'registration' %}">Sign Up</a>
                  </li>
              </ul>
                   </div>
              <div>
				  	{% if user.is_authenticated %}
                        {{ user.email }} <a href="{% url 'logout' %}"><button type="button" class="btn btn-dark">Exit</button></a>
                    {% else %}
                    {% endif %}
              </div>
          </div>
        </div>
      </div>
    </section>

    <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js' %}"></script>
    <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"><\/script>')</script>

    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>


</div>

</body>
</html>
