<!DOCTYPE html>
{% extends "includes/base.html" %}
{% load static %}
{% block content %}

    <div class="page-heading">
        <div class="container">
            <div class="heading-content">
                <h1>{{ genre.title }}</h1>
            </div>
        </div>
    </div>


    <div class="services">
        <div class="container">
            <div class="row">
                {% for x in page_obj %}
            <div class="col-md-4 col-sm-6">
                 <a href="{% url 'movie-detail' x.pk %}">
                        {% if x.image %}
                            <img src="{{ x.image.url }}" style="height:500px; width: 350px;" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                    <h5>{{ x.title }}</h5>
                </div></a>
            </div>
                {% endfor %}
            </div>
        </div>
        <ul class="pagination pagination-sm">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="{% url 'genre-detail' genre.slug %}?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
    {% endif %}
    <li class="page-item active" aria-current="page">
      <span class="page-link">{{ page_obj.number }}</span>
    </li>
    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="{% url 'genre-detail' genre.slug %}?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
    {% endif %}
  </ul>
    </div>





    <div class="more-about-us">
        <div class="container">
            <div class="col-md-5 col-md-offset-7">
                <div class="content">
                    <h2>{{ genre }}</h2>
                    <h3>{{ genre.description }}</h3>
                </div>
            </div>
        </div>
    </div>



    {% endblock %}

