<!DOCTYPE html>
{% extends "includes/base.html" %}
{% load static %}
{% block content %}

    <div class="page-heading">
        <div class="container">
            <div class="heading-content">
                <h1>{{ genre }}</h1>
            </div>
        </div>
    </div>


    <div class="services">
        <div class="container">
            <div class="row">
                {% for x in movies %}
            <div class="col-md-4 col-sm-6">

                 <a href="{% url 'movie-detail' x.pk %}">
                            {% if x.image %}
                                <img src="{{ x.image.url }}" style="height:500px; width: 350px;" class="card-img-top" alt="...">
                            {% endif %}
                            <div class="card-body">
                        <h5>{{ x.title }}</h5>
                </div></a>
            </div>
                {% endfor %}
            </div>
        </div>
    </div>




    <div class="more-about-us">
        <div class="container">
            <div class="col-md-5 col-md-offset-7">
                <div class="content">
                    <h2>{{ genre }}</h2>
                    <span>Donec et nisi sed</span>
                    <p>Vivamus vitae libero euismod, pretium magna a, vulputate metus. Curabitur et arcu felis. Praesent aliquet lectus in purus viverra varius.
                    <br><br>Suspendisse et rutrum nisl. Phasellus porttitor metus vel justo blandit, in finibus neque elementum. Nullam semper, turpis quis egestas consequat, dui eros tristique lectus, ac euismod ex quam id mauris.</p>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

