{% extends "includes/base.html" %}
{% load static %}
{% block content %}
   <div id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner" style="background-image: url({% static 'img/videoplay.mp4' %});">
              <h1>Welcome to <em>ScreenzZ</em></h1>
              <p>Your movie theater at home</p>
            </div>
        </div>
        <video autoplay="" loop="" muted>
        	<source src="{% static 'img/videoplay.mp4' %}" type="video/mp4" />
        </video>
    </div>

    </div>
  <div class="full-screen-portfolio" id="portfolio">

        <div class="container-fluid">
      {% for genre in genres %}
            <a href="{% url 'genre-detail' genre.slug %}">
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
<!--                    <a href="{{ genre.image.url }}" data-lightbox="image-1">-->
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    <h1>{{ genre }}</h1>
                                    <p>movie selection</p>
                                </div>
                            </div>
                        <div class="image" style="width: autopx; height: 300px">
                            <img src="{{ genre.image.url }}" width="100%" height="300px">
                        </div>
                    </div>
<!--                    </a>-->
                </div>
            </div>
            </a>
            {% endfor %}
        </div>
      {% endblock %}


</div>