
{% extends 'auth_base.html' %}
{% load static %}
{% block body %}
	<title>Successful Registration</title>
	<meta charset="utf-8">

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}">
	<link rel="stylesheet" href="{% static 'css/light-box.css' %}">
	<link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
	<script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/templatemo_style.css' %}" rel="stylesheet" type="text/css">

	<div id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner" style="background-image: url({% static 'img/Clapping.mp4' %});">
              <div class="templatemo-bg-image-2">
	<div class="container">
		<div class="col-md-12">
			<form class="form-horizontal templatemo-contact-form-1" role="form"  method="post">
				<div class="form-group">
					<div class="col-md-12">
						<h1 class="margin-bottom-15">You have registered your account successfully</h1>
                            <h1> congratulations! You are successfully registered</h1>
                        <p>Email confirmation has been sent, please follow the instructions</p>
					</div>
				</div>
            </form>
		</div>
	</div>
            </div>
        </div>
        <video autoplay="" loop="" muted>
        	<source src="{% static 'img/Clapping.mp4' %}" type="video/mp4" />
        </video>
    </div>


	<div id="content">
    </div>
    <nav>
        <div class="logo">
            <a href="{% url 'index' %}">ScreenzZ</a>
        </div>
        <div class="menu-icon">
        <span></span>
      </div>

	</nav>
  <div class="popup-icon">
      <button id="modBtn" class="modal-btn"><img src="{% static 'img/s.png' %}" alt=""></button>
    </div>

<!-- Modal -->
    <div id="modal" class="modal">
      <!-- Modal Content -->
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="header-title">Your<em>Profile</em></h3>
          <div class="close-btn"><img src="{% static 'img/close_contact.png' %}" alt=""></div>
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
          <div class="col-md-6 col-md-offset-3">

            <form id="contact" action="" method="post">
                  {% if user.image %}
            <img src="{{ user.image.url }}">
              {% endif %}
                <div class="row">
                    <div class="col-md-12">
                      <fieldset>
                            <h5>First name: {{user.name}}</h5>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                            <h5>Last name: {{user.last_name}}</h5>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                             Email: {{user.email}}
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                            <h5>Created: {{user.created}}</h5>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                            {% for x in user.movies.all %}
                            <a href="{% url 'movie-detail' x.id %}"><img src="{{ x.image.url }}" width="180px" height="280px"></a>
                            {% endfor %}
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2021 ScreenzZ

    | Designed by Screenzz</p>
            </div>
        </div>
    </footer>

    <section class="overlay-menu">
      <div class="container">
        <div class="row">
          <div class="main-menu">
              <div class="container">
              <ul>
                  <li>
                    <section id="search" class="alt">
                        <form method="get" action="{% url 'index' %}">
                            <input type="text" name="q" id="query" placeholder="Search...">
                        </form>
                    </section>
                  </li>
                  <li>
                      <a href="{% url 'index' %}">Home</a>
                  </li>
                  <li>
                      <a href="{% url 'create-genre' %}">Create genre</a>
                  </li>
                  <li>
                      <a href="{% url 'create-movie' %}">Create movie</a>
                  </li>
                  <li>
                      <a href="{% url 'login' %}">Log In</a>
                  </li>
                  <li>
                      <a href="{% url 'registration' %}">Sign Up</a>
                  </li>
              </ul>
                   </div>
              <div>
				  	{% if user.is_authenticated %}
                        {{ user.email }} <a href="{% url 'logout' %}"><button type="button" class="btn btn-success pull-right">Exit</button></a>
                    {% else %}
                    {% endif %}
              </div>
          </div>
        </div>
      </div>
    </section>
    </div>

    <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js' %}"></script>
    <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"><\/script>')</script>

    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>



{% endblock %}

